body {
  background-color: rgb(234, 254, 243);
}

h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;

}

p {
 font-family: 'Roboto', sans-serif;
 margin-bottom: 0px;
 margin-top: 0px;
 text-align: center;
}

.photo {
  border-radius: 50%;
  width: 14vh;
  margin-left: 15%;
  margin-top: 7%;
}

.songs-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 25vh;

}

.song-card {
  background-color: rgb(232, 242, 236);
  height: 90%;
  width: 70%;
  margin: 5%;
  display: grid;
  grid-template-rows: 50% 50%;
  border-radius: 15%;
}

.song-details {
}
